<h1>Login</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <div>
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <div>
      <%= password_field_tag :password, params[:password] %>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %> | Don't have an account? <%= link_to 'Register', register_path %>
  </div>
<% end %>
