<div class="user">
  <%= user_image_tag(@user) %>
</div>
<div class="info">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<div class="clear"></div>
<%= link_to_function 'Image View', "$('#list').hide(); $('#image').show()" %> |
<%= link_to_function 'List View',  "$('#image').hide(); $('#list').show()"%>

<div id="list" style="dispaly: none;">
  <%= render partial: 'items/item_progress', collection: @user.items.published, as: :item %>
</div>
<div id="image" style="display: none;">
  <%= render @user.items.published %>
</div>

<div class="clear"></div>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
