<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', target: @item %>

  <div class="item">
    <%= item_image_tag(@item) %>
    <div class="title"><%= @item.title %></div>
  </div>
  <div class="info">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :total %><br>
      <%= f.number_field :total %>
    </div>
    <div class="field">
      <%= f.label :subtitle %><br>
      <%= f.text_field :subtitle %>
    </div>
    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :category %><br>
      <%= f.text_field :category %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.url_field :url %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.hidden_field :image_cache %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <div class="clear"> </div>
<% end %>
