<h1>All public brogress</h1>

<%#<%= form_tag '/' do %>
  <%#<div class="field">%>
    <%#<%= label_tag :title, 'Search' %>
    <%#<div>%>
      <%#<%= search_field_tag :title, params[:title] %>
    <%#</div>%>
  <%#</div>%>
<%#<% end %>

<div class="clearfix">
  <%= render @items %>
</div>

<div class="clearfix">
  <%= paginate @items %>
</div>
