<h1><%= @item.title %></h1>

<div class="item">
  <% if @item.image.url %>
    <%= link_to image_tag(@item.image), @item %>
  <% else %>
    <%= link_to image_tag("http://placekitten.com/#{140 + @item.id}"), @item %>
  <% end %>
  <div class="title"><%= @item.title %></div>
</div>

<div class="info">
  <p>
    <strong>Title:</strong>
    <%= @item.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= @item.subtitle %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= @item.progress %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @item.total %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= @item.public ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @item.author %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @item.category %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link_to @item.url, @item.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <% if @item.user == current_user %>
    <%= link_to 'Edit', edit_item_path(@item) %> |
  <% end %>
  <%= link_to 'Back', items_path %>
</div>

<div class="clear"> </div>
<%= render partial: 'item_progress', collection: [@item], as: :item %>

