<div id='header'>
  <div>
    <%= link_to 'Brogress', root_path %>, your digital bookmarks
  </div>
  <% if signed_in?%>
    <div>
      <ul id="nav">
        <li>
          <%= link_to 'Your brogress', items_path %> |
        </li>
        <li>
          <%= link_to 'All public brogress', controller: 'items', action: 'index', all: true %> |
        </li>
        <li>
          <%= link_to 'All brogresser', users_path %>
        </li>
      </ul>
    </div>
    <div id="control">
      <%= link_to current_user.name, current_user %> | <%= link_to 'Logout', logout_path, method: :delete %>
    </div>
  <% else %>
    <div id="control">
      <%= link_to 'Register', register_path %> | <%= link_to 'Login', login_path %>
    </div>
  <% end %>
</div>
