<div id='header' class='clearfix'>
  <div class='container'>
    <div id='controls'>
      <div id='brand'>
        <%= link_to 'Brogress', root_path %>, your digital bookmarks
      </div>
      <% if signed_in?%>
        <div>
          <ul id='nav'>
            <li>
              <%= link_to 'Your brogress', items_path %> |
            </li>
            <li>
              <%= link_to 'All public brogress', items_path(all: true) %> |
            </li>
            <li>
              <%= link_to 'All brogresser', users_path %>
            </li>
          </ul>
        </div>
        <div class='pull-right'>
          <%= link_to current_user.name, current_user %> | <%= link_to 'Logout', logout_path, method: :delete %>
        </div>
      <% else %>
        <div class='pull-right'>
          <%= link_to 'Register', register_path %> | <%= link_to 'Login', login_path %>
        </div>
      <% end %>
    </div>
  </div> 
</div>
